*.iml
.gradle
/local.properties
/publish.properties
/artifacts
/.idea
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*
